<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.steven.demo01.mapper.MenuMapper">
    <select id="selectMenuById"  parameterType="Long" resultType="com.steven.demo01.domain.entity.SysMenu">
            select * from sys_menu m where m.menu_id = #{menuId};
    </select>
    <select id="selectMenuByName" resultType="com.steven.demo01.domain.entity.SysMenu">
        select * from sys_menu m where m.menu_name = #{menuName};
    </select>
    <select id="selectMenuTreeByUserId" parameterType="Long" resultType="com.steven.demo01.domain.entity.SysMenu">
        select distinct m.menu_id, m.parent_id, m.menu_name, m.path, m.component, m.`query`, m.visible, m.status, ifnull(m.perms,'') as perms, m.is_frame, m.is_cache, m.menu_type, m.icon, m.order_num, m.create_time
        from sys_menu m
                 left join sys_role_menu rm on m.menu_id = rm.menu_id
                 left join sys_user_role ur on rm.role_id = ur.role_id
                 left join sys_role ro on ur.role_id = ro.role_id
                 left join user u on ur.user_id = u.user_id
        where u.user_id = #{userId} and m.menu_type in ('M', 'C') and m.status = 0  AND ro.status = 0
        order by m.parent_id, m.order_num
    </select>
</mapper>
